/*
 * Write your custom CSS here
 */

.profile-section {
	display: flex;
	gap: 50px;
}

img.profile {
	border-radius: 50%;
}

.profile:hover {
	cursor : pointer;
	animation : rotate 2s infinite;
	
	border : 1px solid black;
}

@keyframes rotate{
	100% {transform : rotate(360deg);}
}

.info-section {
	
	border : 1px solid black;
	border-radius : 2%;
	padding : 20px;
	background-color : rgb(154, 212, 212);
}